/* .App {
  font-family: sans-serif;
  text-align: center;
}

.user-img {
  border-radius: 50%;
  width: 20%;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

.user-name {
  color: rgb(238, 11, 238);
}
.imdb-color {
  color: rgb(75, 223, 75);
}

.summary-color {
  color: blueviolet;
}

.user-summary {
  color: brown;
} */
.movie-container{
  /* background-color:red; */
  width:300px;
}
.movie-poster{
  width:300px;
  height:450px;
  object-fit: cover;
}

.movie-specs{
  display:flex;
  justify-content: space-between;
  margin-top:-1rem;
}


.movie-rating{
  font-size:18px;
}

.movie-name{
  font-size: 20px;
  
}

.movie-summary{
  margin-top: -1rem;
}

.movie-list{
  display:flex;
  gap:8px;
  flex-wrap: wrap;
  justify-content:space-around;
}

.counter-container{
  display:flex;
  gap:10px;
}

.counter-container > button{
  font-size: 16px;
}
